
<h2 class="text-center">Savings Calculator</h2>
<div class="container">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <!-- Form elements -->
        <div class="form-group">
            <label for="">Initial Deposit</label>
            <input type="text" class="form-control" placeholder="initial deposit" ngModel name="cap" #cap required>
        </div>
        <div class="form-group">
            <label for="">Monthly Contribution </label>
            <input type="text" class="form-control" placeholder="monstly contribution" ngModel name="sl" #sl required>
        </div>
        <div class="form-group">
            <label for="">Annual Interest Rate</label>
            <input type="text" class="form-control" placeholder="Interest rate" ngModel name="bp" #bp required>
        </div>
        <div class="form-group">
            <label for="">Investment Duration (years)</label>
            <input type="text" class="form-control" placeholder="Number of years" ngModel name="stop" #stop required>
        </div>
        <div class="text-center"><button class="btn btn-secondary" [disabled]="f.invalid"> Calculate</button></div>
    </form>
</div>
<div class="card">
    <div class="card-body text-center">
        <div class="card-title">Total Savings</div>
        <div class="card-text">{{total?total:''}}</div>
    </div>
</div>