<h2 class="text-center">SIP Calculator</h2>
<div class="container mb-20">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <!-- Form elements -->
        <div class="form-group">
            <label for="">Monthly Investment Amount</label>
            <input type="text" class="form-control" placeholder="Monthly Investment amuont" ngModel name="first" #first required>
        </div>
        <div class="form-group">
            <label for="">Rate of Interest(Annual)</label>
            <input type="text" class="form-control" placeholder="Interest" ngModel name="second" #second required>
        </div>
        <div class="form-group">
            <label for="">Number of Years</label>
            <input type="text" class="form-control" placeholder="Number of Years" ngModel name="years" #years required>
        </div>
        <div class="text-center"><button class="btn btn-secondary" [disabled]="f.invalid"> Calculate</button></div>
    </form>
</div>
<table class="table table-dark mt-20">
    <tr>
        <td>Future Value</td>
        <td>{{future}}</td>
    </tr>
    <tr>
        <td>Amount Invested</td>
        <td>{{Amount_Invested}}</td>
    </tr>
    <tr>
        <td>Total Earnings</td>
        <td>{{Total_Earning}}</td>
    </tr>
</table>