<h2 class="text-center">Retirement Calculator</h2>
<div class="container mb-20">
    <form #retirementForm="ngForm" (ngSubmit)="calculateTotalSavings(retirementForm)">
        <div class="form-group">
            <label for="currentAge">Current Age</label>
            <input type="number" class="form-control" id="currentAge" name="currentAge" ngModel required>
        </div>
        <div class="form-group">
            <label for="desiredRetirementAge">Desired Retirement Age</label>
            <input type="number" class="form-control" id="desiredRetirementAge" name="desiredRetirementAge" ngModel required>
        </div>
        <div class="form-group">
            <label for="currentSavings">Current Savings</label>
            <input type="number" class="form-control" id="currentSavings" name="currentSavings" ngModel required>
        </div>
        <div class="form-group">
            <label for="monthlySaving">Monthly Savings</label>
            <input type="number" class="form-control" id="monthlySaving" name="monthlySaving" ngModel required>
        </div>
        <div class="form-group">
            <label for="interestRate">Interest Rate (%)</label>
            <input type="number" class="form-control" id="interestRate" name="interestRate" ngModel required>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-secondary" [disabled]="retirementForm.invalid">Calculate</button>
        </div>
    </form>
</div>
<div class="card">
    <div class="card-body text-center" *ngIf="totalSavings !== undefined">
        <div class="card-title">Total Savings</div>
        <div class="card-text">{{ totalSavings | number:'.2' }}</div>
    </div>
</div>
