
<h1 class="text-center title">FINANCIAL CALCULATORS</h1>
    <div class="ro">
        <div class="card" style="width: 35rem;">
            <img class="card-img-top" src="https://img.freepik.com/free-photo/front-view-arrangement-economy-elements_23-2148793796.jpg?size=626&ext=jpg" alt="Card image cap">
            <div class="card-body">
                <h3 class="card-title">CAGR Calculator</h3>
              <p class="card-text">Compound Annual Growth Rate (CAGR) is a financial metric used to measure the average annual growth rate of an investment or business over a specified period, smoothing out fluctuations. It represents the consistent rate at which an investment would have grown yearly, assuming it grew at a steady rate.</p>
              <div class="text-center">
                <a href="/CAGR" class="btn btn-primary text-center">Calculate</a>
              </div>
            </div>
        </div>
        <div class="card" style="width: 35rem;">
            <img class="card-img-top" src="https://img.freepik.com/free-photo/full-shot-people-coins_23-2151027568.jpg?t=st=1703828200~exp=1703831800~hmac=eb0c6dd5b1c97c20f1c2ecd3269b2704818c3809ab9d84e928138216c0859201&w=996" alt="Card image cap">
            <div class="card-body">
                <h3 class="card-title">SIP Calculator</h3>
              <p class="card-text">Systematic Investment Plan (SIP) is a disciplined investment approach where individuals invest fixed amounts at regular intervals, typically monthly, in mutual funds. It enables long-term wealth creation by averaging out market fluctuations, leveraging the power of compounding, and encouraging consistent savings habits for financial growth.</p>
              <div class="text-center">
                <a  class="btn btn-primary text-center" (click)="sip()">Calculate</a>
              </div>
            </div>
        </div>
        <div class="card" style="width: 35rem;">
            <img class="card-img-top" src="https://img.freepik.com/free-photo/collage-finance-banner-concept_23-2150608848.jpg?size=626&ext=jpg" alt="Card image cap">
            <div class="card-body">
                <h3 class="card-title">Goal SIP Calculator</h3>
              <p class="card-text">A Goal SIP (Systematic Investment Plan) calculator is a financial tool used to estimate the amount one needs to invest periodically to achieve a specific financial goal. It factors in the goal amount, duration, expected rate of return, and calculates the required systematic investment contributions to attain the target within the specified timeframe.</p>
              <div class="text-center">
                <a href="/goalSIP" class="btn btn-primary text-center">Calculate</a>
              </div>
              
            </div>
        </div>
        <div class="card" style="width: 35rem;">
            <img class="card-img-top" src="https://img.freepik.com/premium-photo/green-bull-market-run-upward-presents-uptrend-stock-market-financial-business-concept-generative-ai_1423-7208.jpg?size=626&ext=jpg" alt="Card image cap">
            <div class="card-body">
                <h3 class="card-title">Position Sizing Calculator</h3>
              <p class="card-text">A Position Sizing Calculator is a tool used in trading and investing to determine the appropriate size or number of units or shares to purchase or sell based on predefined risk parameters such as account size, risk tolerance, entry price, stop-loss, and desired risk percentage per trade. It helps traders manage risk by calculating position sizes aligned with their risk management strategy.</p>
              <div class="text-center">
                <a href="/positions" class="btn btn-primary text-center">Calculate</a>
              </div>
            </div>
        </div>
        
        <div class="card" style="width: 35rem;">
            <img class="card-img-top" src="https://img.freepik.com/premium-photo/stacks-coins-dollar-banknotes-dark-background_795422-6800.jpg?size=626&ext=jpg" alt="Card image cap">
            <div class="card-body">
              <h3 class="card-title">LUMPSUM FV Calculator</h3>
              <p class="card-text">A Lump Sum Future Value (FV) Calculator is a financial tool used to estimate the future value of a lump sum investment or deposit based on the initial amount invested, the interest rate, and the time period it's invested for. It calculates the projected value at maturity, factoring in compound interest or returns earned on the lump sum over time..</p>
              <div class="text-center">
                <a href="/lumpsum" class="btn btn-primary text-center">Calculate</a>
              </div>
            </div>
        </div>
        <div class="card" style="width: 35rem;">
            <img class="card-img-top" src="https://img.freepik.com/free-photo/business-person-futuristic-business-environment_23-2150970208.jpg?size=626&ext=jpg" alt="Card image cap">
            <div class="card-body">
                <h3 class="card-title">GOAL Lumpsum Calculator </h3>
              <p class="card-text">A Goal Lump Sum Calculator is a financial tool designed to help determine the required lump sum investment amount needed to reach a specific financial goal within a set timeframe. It considers parameters such as the targeted goal amount, expected rate of return, and the investment duration to compute the necessary initial investment required to achieve the specified financial objective.</p>
              <div class="text-center">
                <a href="/goallumpsum" class="btn btn-primary text-center">Calculate</a>
              </div>
            </div>
        </div>
        <div class="card" style="width: 35rem;">
          <img class="card-img-top" src="https://img.freepik.com/free-vector/indian-money-rupee-sign-background-key-economic-prosperity_1017-44467.jpg?size=626&ext=jpg" alt="Card image cap">
          <div class="card-body">
              <h3 class="card-title">Savings Calculator </h3>
            <p class="card-text">The Savings Calculator computes total savings based on initial deposit, monthly contribution, annual interest rate, and investment duration. Users input these values, triggering calculation via the "Calculate" button. The calculator employs compound interest formula over the investment period, displaying the final savings amount upon calculation completion.</p>
            <div class="text-center">
              <a href="/savings" class="btn btn-primary text-center">Calculate</a>
            </div>
          </div>
      </div>
      <div class="card" style="width: 35rem;">
        <img class="card-img-top" src="https://img.freepik.com/free-photo/stacks-coins-arranged-bar-graph_35913-2518.jpg?w=996&t=st=1704165069~exp=1704165669~hmac=8256970f2a9ccdfdc2d5040ae51e84ecb84095d827f74c0d5b3b529d091c8064" alt="Card image cap">
        <div class="card-body">
            <h3 class="card-title">Investment Return Calculator </h3>
          <p class="card-text">The Investment Return Calculator estimates future value based on initial investment, annual interest rate, and investment period. It uses these inputs to calculate total return and profit. Users input the initial amount, annual interest rate, and investment duration. Upon calculation, it displays the estimated future value and profit.</p>
          <div class="text-center">
            <a href="/investment-return" class="btn btn-primary text-center">Calculate</a>
          </div>
        </div>
    </div>
    <div class="card" style="width: 35rem;">
      <img class="card-img-top" src="https://img.freepik.com/premium-psd/plastic-credit-card-mockup-clean-modern-floating_73158-202.jpg?size=626&ext=jpg" alt="Card image cap">
      <div class="card-body">
          <h3 class="card-title">Credit Card Payoff Calculator</h3>
        <p class="card-text">The Credit Card Payoff Calculator computes time to clear debt based on balance, annual interest rate, and monthly payment. Users input values into a template-driven form. Calculation logic estimates months needed to pay off debt and total interest paid, displayed upon form submission.</p>
        <div class="text-center">
          <a href="/credit" class="btn btn-primary text-center">Calculate</a>
        </div>
      </div>
  </div>
  <div class="card" style="width: 35rem;">
    <img class="card-img-top" src="https://img.freepik.com/free-vector/pension-plan-concept-illustration_114360-21223.jpg?size=626&ext=jpg" alt="Card image cap">
    <div class="card-body">
        <h3 class="card-title">
          Retirement Calculator</h3>
      <p class="card-text">The Retirement Calculator estimates total savings required for retirement based on user input: current age, desired retirement age, current savings, monthly savings, and interest rate. Using this data, it calculates the amount needed at retirement, factoring in monthly contributions and interest accrued over the saving period, providing an approximate figure to aim for retirement goals. Adjust inputs and interest rates to refine estimations for individual retirement plans.</p>
      <div class="text-center">
        <a href="/retirement" class="btn btn-primary text-center">Calculate</a>
      </div>
    </div>
</div>
<div class="card" style="width: 35rem;">
  <img class="card-img-top" src="https://img.freepik.com/premium-photo/multiply-sources-revenue-multiple-streams-income_556904-3186.jpg?size=626&ext=jpg" alt="Card image cap">
  <div class="card-body">
      <h3 class="card-title">
        Compound Interest Calculator</h3>
    <p class="card-text">The Compound Interest Calculator estimates the growth of an investment by factoring in the initial amount invested, the interest rate, how often the interest compounds, and the investment period. It provides insight into the future value of the investment, showing the potential earnings through compounded interest over time, aiding in financial planning and decision-making for long-term savings or investments.</p>
    <div class="text-center">
      <a href="/compound" class="btn btn-primary text-center">Calculate</a>
    </div>
  </div>
</div>
<div class="card" style="width: 35rem;">
  <img class="card-img-top" src="https://img.freepik.com/free-photo/business-concept-with-graphic-holography_23-2149160928.jpg?size=626&ext=jpg" alt="Card image cap">
  <div class="card-body">
      <h3 class="card-title">
Inflation Calculator</h3>
    <p class="card-text">An inflation calculator estimates the change in purchasing power of money over time due to inflation. By inputting initial and final years along with respective amounts, it determines the adjusted value accounting for changes in the general price level. This tool uses historical inflation rates to approximate the equivalent value of money in different periods, aiding in understanding the impact of inflation on monetary worth across timeframes.</p>
    <div class="text-center">
      <a href="/inflation" class="btn btn-primary text-center">Calculate</a>
    </div>
  </div>
</div>
          
</div>